DB_USER=postgres
DB_PASSWORD=3835855
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vkinder

VK_USER_TOKEN=your_vk_user_token
VK_GROUP_TOKEN=vk1.a.3qSH_SHYAxJmakdW_IFj-2TyVo8fehg7kVP16EJ96E7Gjei-uW7RSSEi2OVT-1RusaxgzAm-17k36utW2oaziwr232y6DqAD3XFVaCebD4dYUqv3NtYkD1ou3jiUiHr3hRD4Tcvjdsgpn07uFXiilYBAWDODK1_vbOEpy4UU6Q5JWqjRRq2oT1cHSb6oGwdh11kA0LQsPs--Jq9PtCAO0Q